<h1> Course Details</h1>
<div class="col-md-4" align="center">
  <iframe src="https://drive.google.com/file/d/12wadC4eU5UrACh5t33qFAZyOZZP6V2U7/preview" width="350"
    height="320"></iframe>
  <h3>Faiz-daste Saba</h3>
</div>
<div class="col-md-4" align="center">
  <iframe src="https://drive.google.com/file/d/1fHh-G3VbWvsWdocX_bkvIPqL77uHyb5H/preview" width="350"
    height="320"></iframe>
  <h3 align="center">Maulana Azad, Ghubare Khatir</h3>
</div>
<div class="col-md-4" align="center">
  <iframe src="https://drive.google.com/file/d/12wadC4eU5UrACh5t33qFAZyOZZP6V2U7/preview" width="350"
    height="320"></iframe>
  <h3>Faiz-daste Saba</h3>
</div>