<nav class="navbar navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand">Online Course</a>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="courses">Courses</a></li>
      <li><a class="nav-link" style="color:#006c9d" routerLink="/login" *ngIf="!auth.isLoggednIn()">Login</a></li>
      <li><a class="nav-link" style="color:#006c9d" (click)="logout()" *ngIf="auth.isLoggednIn()">Logout</a></li>
    </ul>
  </div>
</nav>
<br /><br />
<div class="container">
  <router-outlet></router-outlet>
</div>